# Python
venv/
env/
*.pyc
__pycache__/
*.egg-info/
dist/
build/
.Python

# Django
*.log
db.sqlite3
/media
/staticfiles

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
