@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 140 60% 98%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 142 62% 28%;
    --primary-foreground: 0 0% 98%;
    --secondary: 144 40% 91%;
    --secondary-foreground: 142 62% 28%;
    --muted: 140 20% 96%;
    --muted-foreground: 140 20% 40%;
    --accent: 142 50% 80%;
    --accent-foreground: 142 62% 28%;
    --destructive: 342 85% 45%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 142 60% 30%;
    --chart-2: 160 55% 38%;
    --chart-3: 200 60% 35%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 142 32% 10%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 142 62% 28%;
    --primary-foreground: 0 0% 98%;
    --secondary: 142 50% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 142 40% 16%;
    --muted-foreground: 0 0% 80%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 342 85% 45%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 142 60% 28%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
