#saude {
  padding: 60px 20px;
   background-color: #f9fff4;
  text-align: center;
}

.textsec-2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #4a5d23;
  font-weight: bold;
}

.container-saude {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  background: linear-gradient(135deg, rgba(255,255,255,0.5), rgba(240,255,240,0.4));
  border: 1px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(12px);
  width: 250px;
  height: auto;
  transition: all 0.1s ease;
  border-radius: 18px;
  color: #2f3e46;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 25px 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.card:hover {
  transform: scale(1.07);
  z-index: 2;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.container-saude:hover .card:not(:hover) {
  transform: scale(0.94);
  opacity: 0.8;
  filter: brightness(0.95);
}

.icon {
  font-size: 2rem;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.card:hover .icon {
  transform: scale(1.2);
}

.card h3 {
  margin: 0;
  font-size: 1.4rem;
  color: #064d2c;
  margin-bottom: 10px;
}

.description {
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  margin-top: 10px;
  opacity: 0.9;
}
