@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+J:ital,wght@0,100..400;1,100..400&display=swap');

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
        list-style: none;
        text-decoration: none;
        scroll-behavior: smooth;
    }

    body {
        background: #ffffff;
        color: #22100d;
    }

    header {
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgba(255, 255, 255, .1); 
        backdrop-filter: blur(10px); 
        padding: 20px 13%;
        transition: all 0.40s ease;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    }

    .logo{
        
        height: auto;
        width: 160px;
        max-width: 100%;
    }
    .logo-style{
         font-family: "Playwrite GB J", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 20px;
  color: #064d2c;

    }

    .navbar ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navbar ul li {
        margin: 0 15px;
    }
    

    .navbar ul li a.active {
        color:#6B8E23; 
        border-bottom: 2px solid #6B8E23;
    }

    .itens {
        color: #22100d;
        font-weight: 600;
        font-size: 1rem;
        padding: 10px 20px;
        transition: all 0.40s ease;
    }

    .itens:hover,
    nav a#active {
        color: #6B8E23;
    }

    button {
        outline: none;
        cursor: pointer;
        border: none;
        padding: 0.6rem 2rem;
        margin: 0;
        font-family: inherit;
        font-size: 14px;
        border-radius: 500px;
        background: black;
        color: ghostwhite;
        transition: background 0.2s ease;
    }

    button:hover {
        background: #6B8E23;
    }

    .login-button {
        display: inline-block;
        padding: 0.6rem 2rem;
        font-size: 14px;
        font-weight: 600;
        color: white;
        background-color: black;
        border-radius: 500px;
        text-decoration: none;
        transition: background 0.2s ease;
    }

    .login-button:hover {
        background-color: #6B8E23;
    }

    section {
        
    scroll-margin-top: 80px; /* Ajuste conforme a altura do seu header */

    padding: 120px 13% 80px;
    }
.home {
        background: url(img/hum\ \(1\)\ \(1\).jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;     
        justify-content: center; 
        gap: 6rem;
        min-height: 100vh;
        
    


    }


    .home-texto h1 {
        font-size: 2rem;
        margin-bottom: 15px;
        font-weight: 700;
        color: #22100d;
            }
            .destaque{
                color: #6B8E23;
            }

            .home-texto p {
                font-size: 1.1rem;
                max-width: 500px;
                color: #444;
                line-height: 1.6;
                margin-bottom: 20px;
            }

            .hero {
                color: #fff;
                background-color: black;
                border-radius: 8px;
                padding: 12px 24px;
                font-size: 1rem;
                font-weight: 600;
                transition: background 0.3s ease;
                display: inline-block;
            }

            .hero:hover {
                background-color: #6B8E23;
            }

            .home-img {
                width: 100%;
                max-width: 600px;
                height: auto;
                margin: 0 auto;
            }

            .home-img img {
                width: 100%;
                height: auto;
                max-height: 312px;
                object-fit: contain;
                border-radius: 10px;
                box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
            }

    

            
 

