#sobre {
                background-color: #dbe7c3;
        padding-top: 60px;
    }

    .ti {
        
        text-align: center;
        font-size: 2rem;
        margin-bottom: 30px;
        color: #22100d;
    }
    .container-sobre {
        display: flex;
        flex-wrap: nowrap; 
        gap: 2rem;
        justify-content: center;
        padding: 0 5%; 
        margin: 0 auto;
        max-width: 1200px; 
    }

    .card-s {
        background: #f5f9f3;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(107, 142, 35, 0.15);
        padding: 1.5rem; 
        flex: 1; 
        min-width: 250px; 
        min-height: 350px; 
        box-sizing: border-box;
        transition: transform 0.3s ease;
    }


    .card-s:hover {
        transform: translateY(-5px);
    }

    .card-s h3 {
        color: #6B8E23;
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }

    .card-s p,
    .card-s ul {
        color: #333;
        line-height: 1.5;
        font-size: 0.95rem;
    }

    .card-s ul li {
        margin-bottom: 0.5rem;
        list-style: disc;
        padding-left: 1rem;
    }
    .card-s:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 20px 5px rgba(107, 142, 35, 0.4); 
    }

    .comunity{
           background-color: #e3f1d1;
    }

    .rede-social{
      
     font-family: "Playwrite GB J", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 30px;
        color: #22100d;
 }

.btn-entrar {
  font-family: "Playwrite GB J", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  display: block;
  width: 220px;
  max-width: 90%;
  padding: 15px 0;
  font-size: 18px;
  background-color: black; /* fundo preto */
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin: 20px auto 0;
  transition: background-color 0.3s ease;
}

.btn-entrar:hover {
  background-color: #6B8E23; /* verde ao passar o mouse */
}
